#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding: 0;
  /* text-align: center; */
  overflow: hidden;
}

/* @media (min-width: 640px) {
 xsm{
  display:none;
  background-color: red;
}
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;  
}